Repository torana-us/terraform-modules: changes, and which lefthook commands are due for each by the changed paths.
All: actionlint, tffmt, tflint, taplo

actionlint:
  run: actionlint {staged_files}

tffmt:
  run: "if type -a terraform >/dev/null 2>&1; then\n  terraform fmt -recursive\nelse\n  echo \"terraform is not found.\"\nfi\n"

tflint:
  run: "config_path=\"$PWD/.tflint.hcl\"\nif type -a tflint >/dev/null 2>&1; then\n  tflint -c ${config_path} --recursive --fix\nelse\n  echo \"tflint is not found.\"\nfi\n"

taplo:
  run: taplo format {staged_files}

fix: 🐛 matirix strategy error for `[]`
  .github/workflows/wc-terraform.yml
Due: actionlint

ci: 🎡 no fmt run if no diff
  .github/workflows/wc-terraform.yml
Due: actionlint

ci: 🎡 use GitHub Runner
  .github/workflows/wc-ghalint.yml
  .github/workflows/wc-gitleaks.yml
  .github/workflows/wc-markdownlint.yml
  .github/workflows/wc-shellchecker.yml
  .github/workflows/wc-taplo.yml
  .github/workflows/wc-typos.yml
  .github/workflows/wc-yamllint.yml
Due: actionlint

ci: 🎡 add extends-words
  .typos.toml
Due: taplo

Update renovate.json
  renovate.json
Due: none

ci: 🎡 renovate automerge enable
  renovate.json
Due: none

ci: 🎡 use best-practices
  renovate.json
Due: none

Update aws/handle_changemanager/src/docker/docker-compose.yaml
  aws/handle_changemanager/src/docker/docker-compose.yaml
Due: none

ci: 🎡 set timeout-minutes
  .github/workflows/linters.yml
  .github/workflows/release.yaml
  .github/workflows/wc-ghalint.yml
  aqua.yaml
Due: actionlint

feat: 🎸 add ap-southeast-5 to exclude_regions
  datadog/aws_integrations/main.tf
Due: tffmt, tflint

ci: 🎡 trivyignore
  .trivyignore
Due: none

ci: 🎡 add trivyignore
  .trivyignore
Due: none

fix: 🐛 managed_policy_arns is deprecated, use aws_iam_role_policy_attachments_exclusive
  aws/iam_role/role.tf
  aws/iam_role/versions.tf
Due: tffmt, tflint

docs: ✏️ terraform-docs
  aws/iam_role/README.md
Due: none

feat: 🎸 elasticache engine valkey selectable
  aws/redis_cluster/README.md
  aws/redis_cluster/elasticache.tf
  aws/redis_cluster/variables.tf
  aws/redis_cluster/versions.tf
Due: tffmt, tflint

chore: gitleaks ignore `set_real_datadog_api_key_manually`
  .gitleaks.toml
Due: taplo

chore: tflint config update
  .tflint.hcl
Due: none

Revert "chore(deps): update tj-actions/changed-files digest to 0e58ed8"
  .github/workflows/linters.yml
Due: actionlint

feat: temporary_password_validity_days set 30 days
  aws/cognito/main.tf
Due: tffmt, tflint

fix: password_policy
  aws/cognito/main.tf
Due: tffmt, tflint

style: zizmor
  .github/workflows/actionlint.yml
  .github/workflows/release.yaml
  .github/workflows/wc-ghalint.yml
  .github/workflows/wc-gitleaks.yml
  .github/workflows/wc-markdownlint.yml
  .github/workflows/wc-shellchecker.yml
  .github/workflows/wc-taplo.yml
  .github/workflows/wc-terraform.yml
  .github/workflows/wc-typos.yml
  .github/workflows/wc-yamllint.yml
  datadog/aws_integrations/main.tf
  datadog/aws_integrations/variables.tf
Due: actionlint, tffmt, tflint

Remove service_quotas integration from Datadog
  datadog/aws_integrations/main.tf
Due: tffmt, tflint

fix: validate
  datadog/aws_integrations/README.md
  datadog/aws_integrations/main.tf
  datadog/aws_integrations/outputs.tf
Due: tffmt, tflint

docs: terraform-docs
  datadog/aws_integrations/README.md
Due: none

Path conditions:
  actionlint: any of: *.{yml,yaml} and ^\.github/workflows/
  tffmt: any of: *.tf
  tflint: any of: *.tf
  taplo: any of: *.toml
