Repository torana-us/terraform-modules: changes, and which lefthook commands are due for each by the changed paths.
All: actionlint, tffmt, tflint, taplo

actionlint:
  run: actionlint {staged_files}

tffmt:
  run: "if type -a terraform >/dev/null 2>&1; then\n  terraform fmt -recursive\nelse\n  echo \"terraform is not found.\"\nfi\n"

tflint:
  run: "config_path=\"$PWD/.tflint.hcl\"\nif type -a tflint >/dev/null 2>&1; then\n  tflint -c ${config_path} --recursive --fix\nelse\n  echo \"tflint is not found.\"\nfi\n"

taplo:
  run: taplo format {staged_files}

feat: 🎸 use rds-ca-ecc384-g1 for ca_cert
  aws/rds_cluster/rds.tf
Due: tffmt, tflint

chore: add variable
  aws/ecs_service/service.tf
  aws/ecs_service/variables.tf
Due: tffmt, tflint

chore: 🤖 remove ecs_scheduled_task module, now no used
  aws/ecs_scheduled_task/README.md
  aws/ecs_scheduled_task/ecs.tf
  aws/ecs_scheduled_task/event_bridge.tf
  aws/ecs_scheduled_task/examples/.gitkeep
  aws/ecs_scheduled_task/outputs.tf
  aws/ecs_scheduled_task/variables.tf
  aws/ecs_scheduled_task/versions.tf
Due: tffmt, tflint

feat: 🎸 no create ssm vpc_endpoint
  aws/handle_changemanager/examples/no_vpc_endpoint/main.tf
  aws/handle_changemanager/examples/no_vpc_endpoint/versions.tf
  aws/handle_changemanager/main.tf
  aws/handle_changemanager/variables.tf
Due: tffmt, tflint

ci: 🎡 use trivy
  .trivy.yml
  .trivyignore
  aqua.yaml
  lefthook.yml
Due: none

ci: 🎡 add .yamllint.yml
  .yamllint.yml
Due: none

chore: 🤖 create circuit_breaker block enable only
  aws/ecs_service/service.tf
Due: tffmt, tflint

fix: 🐛 --ignore -> --ignorefile
  lefthook.yml
Due: none

chore: 🤖 add example
  aws/ecs_service/examples/circuit_breaker/main.tf
  aws/ecs_service/examples/circuit_breaker/versions.tf
  aws/ecs_service/examples/default/main.tf
  aws/ecs_service/examples/default/versions.tf
Due: tffmt, tflint

chore: 🤖 trivy multiple target is not allowed
  .trivy.yml
  lefthook.yml
Due: none

chore: ignore all
  aws/ecs_service/task.tf
Due: tffmt, tflint

chore: add snapshot_retention_limit & snapshot_window
  aws/redis_cluster/elasticache.tf
  aws/redis_cluster/variables.tf
Due: tffmt, tflint

docs: update README
  aws/redis_cluster/README.md
Due: none

style: fmt
  aws/redis_cluster/variables.tf
Due: tffmt, tflint

fix: 🐛 `DROP USER` may fail
  aws/handle_changemanager/src/main.go
Due: none

ci: 🎡 golangcilint
  aws/handle_changemanager/src/main.go
Due: none

ci: 🎡 use reusable_workflows
  .github/workflows/actionlint.yml
  .github/workflows/linters.yml
  aqua.yaml
Due: actionlint

style: 💄 ghalint
  .github/workflows/terraform-docs.yaml
Due: actionlint

ci: 🎡 add lefthook
  lefthook.yml
Due: none

docs: ✏️ update terraform-docs
  aws/handle_changemanager/README.md
Due: none

ci: 🎡 show diff
  .github/workflows/terraform-docs.yaml
Due: actionlint

docs: ✏️ version
  aws/handle_changemanager/README.md
Due: none

ci: 🎡 adjust yamllint config
  .yamllint.yml
Due: none

Update linters.yml
  .github/workflows/linters.yml
Due: actionlint

ci: 🎡 make README.md for handle_changemanager/src
  aws/handle_changemanager/src/README.md
Due: none

add transit_encryption_enabled
  aws/redis_cluster/README.md
  aws/redis_cluster/elasticache.tf
  aws/redis_cluster/variables.tf
Due: tffmt, tflint

chore: 🤖 remove sdk-v1
  aws/handle_changemanager/src/main.go
Due: none

chore: 🤖 make Bool()
  aws/handle_changemanager/src/main.go
Due: none

feat: 🎸 use INFREQUENT_ACCESS
  aws/handle_changemanager/main.tf
Due: tffmt, tflint

feat: 🎸 add aws integration module
  datadog/aws_integrations/README.md
  datadog/aws_integrations/examples/.gitkeep
  datadog/aws_integrations/main.tf
  datadog/aws_integrations/outputs.tf
  datadog/aws_integrations/variables.tf
  datadog/aws_integrations/versions.tf
Due: tffmt, tflint

docs: ✏️ update
  datadog/aws_integrations/README.md
Due: none

refactor: 💡 no need aws
  datadog/aws_integrations/README.md
  datadog/aws_integrations/main.tf
  datadog/aws_integrations/variables.tf
  datadog/aws_integrations/versions.tf
Due: tffmt, tflint

Delete .github/workflows/linters.yml
  .github/workflows/linters.yml
Due: actionlint

Delete .github/workflows/terraform_linter.yaml
  .github/workflows/terraform_linter.yaml
Due: actionlint

Revert "Delete .github/workflows/linters.yml"
  .github/workflows/linters.yml
  .github/workflows/terraform_linter.yaml
Due: actionlint

chore: 🤖 bump
  aqua.yaml
Due: none

Path conditions:
  actionlint: any of: *.{yml,yaml} and ^\.github/workflows/
  tffmt: any of: *.tf
  tflint: any of: *.tf
  taplo: any of: *.toml
