Repository torana-us/terraform-modules: changes, and which lefthook commands are due for each by the changed paths.
All: actionlint, tffmt, tflint, taplo

lefthook.yml:

---
pre-commit:
  parallel: true
  commands:
    actionlint:
      root: ".github/workflows/"
      glob: "*.{yml,yaml}"
      run: actionlint {staged_files}
    typos:
      run: |
        if type -a typos >/dev/null 2>&1; then
          typos --config .typos.toml
        else
          echo "typos is not found."
        fi
    tffmt:
      glob: "*.tf"
      run: |
        if type -a terraform >/dev/null 2>&1; then
          terraform fmt -recursive
        else
          echo "terraform is not found."
        fi
    gitleaks:
      run: gitleaks detect -v
    tflint:
      glob: "*.tf"
      run: |
        config_path="$PWD/.tflint.hcl"
        if type -a tflint >/dev/null 2>&1; then
          tflint -c ${config_path} --recursive --fix
        else
          echo "tflint is not found."
        fi
    taplo:
      glob: "*.toml"
      run: taplo format {staged_files}
init:
  parallel: true
  commands:
    terraform:
      run: |
        if type -a terraform >/dev/null 2>&1; then
          find . -type d -name "examples" |
          xargs -I{} find {} -type f -name "*.tf" |
          xargs -I{} dirname {} |
          uniq |
          xargs -I{} bash -c "cd {} && terraform init -upgrade -reconfigure"
        else
          echo "terraform is not found."
        fi
    tflint:
      run: |
        config_path="$PWD/.tflint.hcl"
        if type -a tflint >/dev/null 2>&1; then
          tflint -c ${config_path} --recursive --init
        else
          echo "tflint is not found."
        fi

feat: 🎸 add ECR lifecycle policy
  aws/ecr/repository.tf
Due: tffmt, tflint

feat: 🎸 5 -> 15
  aws/ecr/repository.tf
Due: tffmt, tflint

docs: ✏️ update terraform-docs
  aws/ecr/README.md
Due: none

docs: ✏️ MIT License
  LICENSE.txt
  README.md
Due: none

feat: 🎸 output external_id
  datadog/aws_integrations/outputs.tf
Due: tffmt, tflint

feat: 🎸 add exclude region and metrics
  datadog/aws_integrations/main.tf
Due: tffmt, tflint

fix: 🐛 typo
  datadog/aws_integrations/outputs.tf
Due: tffmt, tflint

docs: ✏️ update terraform-doc
  datadog/aws_integrations/README.md
Due: none

Update renovate.json
  renovate.json
Due: none

feat: 🎸 add oidc_role
  aws/oidc_role/examples/main.tf
  aws/oidc_role/examples/versions.tf
  aws/oidc_role/oidc.tf
  aws/oidc_role/outputs.tf
  aws/oidc_role/variables.tf
  aws/oidc_role/versions.tf
Due: tffmt, tflint

docs: ✏️ terraform docs
  aws/oidc_role/README.md
  aws/oidc_role/examples/README.md
Due: none

chore: 🤖 example dir no need README.md
  aws/oidc_role/examples/README.md
Due: none

ci: 🎡 no need example dir check
  .github/workflows/release.yaml
  .github/workflows/terraform-docs.yaml
Due: actionlint

docs: ✏️ use version range
  aws/oidc_role/README.md
Due: none

ci: 🎡 aqua devDeps pack one PR
  renovate.json
Due: none

ci: 🎡 no get-diff-action
  .github/workflows/terraform-docs.yaml
Due: actionlint

docs: ✏️ use shared PR templates
  .github/pull_request_template.md
Due: none

docs: ✏️ add example
  datadog/aws_integrations/examples/main.tf
Due: tffmt, tflint

ci: 🎡 separate paths from revisions
  .github/workflows/terraform-docs.yaml
Due: actionlint

fix: 🐛 bad revision
  .github/workflows/terraform-docs.yaml
Due: actionlint

ci: 🎡 debug and restrict paths
  .github/workflows/terraform-docs.yaml
Due: actionlint

chore: 🤖 terraform version constraint
  aws/cognito/README.md
  aws/cognito/examples/versions.tf
  aws/cognito/versions.tf
  aws/ecr/README.md
  aws/ecr/versions.tf
  aws/ecs_cluster/README.md
  aws/ecs_cluster/versions.tf
  aws/ecs_service/README.md
  aws/ecs_service/examples/circuit_breaker/versions.tf
  aws/ecs_service/examples/default/versions.tf
  aws/ecs_service/versions.tf
  aws/handle_changemanager/README.md
  aws/handle_changemanager/examples/default/versions.tf
  aws/handle_changemanager/examples/no_vpc_endpoint/versions.tf
  aws/handle_changemanager/src/go.sum
  aws/handle_changemanager/versions.tf
  aws/iam_role/README.md
  aws/iam_role/versions.tf
  aws/logs_forwarder/README.md
  aws/logs_forwarder/examples/basic/versions.tf
  aws/logs_forwarder/versions.tf
  aws/oidc_role/README.md
  aws/oidc_role/examples/versions.tf
  aws/oidc_role/versions.tf
  aws/rds_cluster/README.md
  aws/rds_cluster/versions.tf
  aws/redis_cluster/README.md
  aws/redis_cluster/versions.tf
  aws/subnet/README.md
  aws/subnet/examples/dualstack/versions.tf
  aws/subnet/examples/ipv4/versions.tf
  aws/subnet/examples/ipv6_only/versions.tf
  aws/subnet/versions.tf
Due: tffmt, tflint

docs: ✏️ update terraform-docs
  aws/ecs_service/README.md
  aws/logs_forwarder/README.md
  aws/rds_cluster/README.md
  aws/subnet/README.md
Due: none

ci: 🎡 run linters
  .github/workflows/linters.yml
  .github/workflows/wc-ghalint.yml
  .github/workflows/wc-gitleaks.yml
  .github/workflows/wc-markdownlint.yml
  .github/workflows/wc-shellchecker.yml
  .github/workflows/wc-taplo.yml
  .github/workflows/wc-typos.yml
  .github/workflows/wc-yamllint.yml
Due: actionlint

chore: 🤖 ignore jetbrains ide settings
  .gitignore
Due: none

ci: 🎡 related path
  .github/workflows/linters.yml
Due: actionlint

fix: 🐛 no need @master
  .github/workflows/linters.yml
Due: actionlint

ci: 🎡 taplo install by aqua
  .github/workflows/wc-taplo.yml
Due: actionlint

ci: 🎡 integrate wc-terraform.yml
  .github/workflows/linters.yml
  .github/workflows/terraform-docs.yaml
  .github/workflows/wc-terraform.yml
  .github/workflows/wc-typos.yml
Due: actionlint

test: 💍 yamllint
  .github/workflows/linters.yml
Due: actionlint

feat: 🎸 track_latest = true
  aws/ecs_service/task.tf
Due: tffmt, tflint

chore: 🤖 required version up
  aws/ecs_service/versions.tf
Due: tffmt, tflint

ci: 🎡 use HEAD
  .github/workflows/wc-terraform.yml
Due: actionlint

fix: 🐛 $ is many
  .github/workflows/wc-terraform.yml
Due: actionlint

ci: 🎡 tf fmt check -recursive
  .github/workflows/wc-terraform.yml
Due: actionlint

docs: ✏️ rm comment
  aws/ecs_service/task.tf
Due: tffmt, tflint

fix: 🐛 terraform-docs runnable
  .github/workflows/wc-terraform.yml
Due: actionlint

ci: 🎡 use trivy, no tfsec
  aws/handle_changemanager/src/README.md
  aws/logs_forwarder/kinesis_firehose.tf
  aws/logs_forwarder/s3.tf
  aws/rds_cluster/rds.tf
Due: tffmt, tflint

ci: 🎡 add trivyignore
  .trivyignore
Due: none
